In [1]:
import rasterio
import pandas as pd
import numpy as np
import zipfile
import os

# Extracting zip files

In [2]:
# Creating list of zip files to loop through
working_dir = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"  
os.chdir(working_dir)
zip_files = [f for f in os.listdir() if f.endswith('.zip')]

In [3]:
# Extracting zip files by looping through them 
for zip_file in zip_files:
    extract_folder = zip_file.replace('.zip', '') 
    with zipfile.ZipFile(zip_file, 'r') as zip_ref:
        zip_ref.extractall(extract_folder)
        print(f"Extracted: {zip_file} â†’ {extract_folder}")

In [4]:
# Delete each zip file after extraction
for zip_file in zip_files:
    os.remove(zip_file)
    print(f"Deleted: {zip_file}")

# .bil file extraction to pandas

In [5]:
# Function for converting .bil file to a pandas dataframe
def bil_to_df(location, column_name):
    # Open the .bil file
    with rasterio.open(location) as src:
        data = src.read(1)  # Read the first band
        transform = src.transform  # Affine transform

    # Get row/col indices
    rows, cols = np.indices(data.shape)

    # Convert indices to coordinates (lon, lat)
    xs, ys = rasterio.transform.xy(transform, rows, cols, offset='center')

    # Flatten all arrays
    flat_data = data.ravel()
    flat_xs = np.array(xs).ravel()
    flat_ys = np.array(ys).ravel()

    # Create DataFrame
    df = pd.DataFrame({
        'longitude': flat_xs,
        'latitude': flat_ys,
        column_name: flat_data
    })

    # Filter out missing data (-9999 or nodata value)
    df = df[df[column_name] != -9999]

    return df

All .bil files from https://prism.oregonstate.edu/normals/

In [6]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"

files = os.listdir(folder) 
files

['PRISM_ppt_30yr_normal_4kmM4_all_bil',
 'PRISM_soltotal_30yr_normal_4kmM3_all_bil',
 'PRISM_soltrans_30yr_normal_4kmM3_all_bil',
 'PRISM_tdmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmax_30yr_normal_4kmM5_all_bil',
 'PRISM_tmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmin_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmax_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmin_30yr_normal_4kmM5_all_bil']

# Precipitation data

In [7]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"
working_dir = folder + "\\" + files[0]
print(working_dir)

os.chdir(working_dir)
bil_files = [os.path.join(working_dir, f) for f in os.listdir() if f.endswith('.bil')]

label_prefixs = ['jan_', 'feb_', 'mar_', 'apr_', 'may_', 'jun_', 'jul_', 'aug_', 'sep_', 'oct_', 'nov_', 'dec_', 'annual_']
labels = [i + 'precip' for i in label_prefixs]

precip_df = bil_to_df(bil_files[0], labels[0])

# Loop through the rest
for i, j in zip(bil_files[1:], labels[1:]): 
    temp_df = bil_to_df(i, j)
    precip_df = precip_df.merge(temp_df, on=['longitude', 'latitude'], how='inner')

C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files\PRISM_ppt_30yr_normal_4kmM4_all_bil

In [8]:
precip_df.head()

,longitude,latitude,jan_precip,feb_precip,mar_precip,apr_precip,may_precip,jun_precip,jul_precip,aug_precip,sep_precip,oct_precip,nov_precip,dec_precip,annual_precip
0,-95.125000,49.416667,23.644299,17.864500,23.238800,33.131901,80.193497,108.216400,93.256996,78.835396,78.800697,57.489098,32.655701,28.477699,655.806702
1,-95.166667,49.375000,23.340399,17.845299,23.276800,33.335999,80.111397,108.382996,93.154297,78.872101,78.739998,57.233898,32.302399,28.246599,654.843872
2,-95.125000,49.375000,23.328400,17.859999,23.209400,33.333099,80.141296,108.263199,93.254898,79.079102,78.951897,57.322598,32.318699,28.115599,655.179871
3,-95.083333,49.375000,23.307600,17.879900,23.156898,33.369598,80.173401,108.180000,93.333496,79.300697,79.153198,57.379898,32.320301,27.922499,655.478760
4,-95.041667,49.375000,23.282400,17.856100,23.171600,33.519501,80.228500,108.062798,93.358597,79.424301,79.313301,57.410400,32.352100,27.775900,655.756287

In [9]:
precip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481631 entries, 0 to 481630
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   longitude      481631 non-null  float64
 1   latitude       481631 non-null  float64
 2   jan_precip     481631 non-null  float32
 3   feb_precip     481631 non-null  float32
 4   mar_precip     481631 non-null  float32
 5   apr_precip     481631 non-null  float32
 6   may_precip     481631 non-null  float32
 7   jun_precip     481631 non-null  float32
 8   jul_precip     481631 non-null  float32
 9   aug_precip     481631 non-null  float32
 10  sep_precip     481631 non-null  float32
 11  oct_precip     481631 non-null  float32
 12  nov_precip     481631 non-null  float32
 13  dec_precip     481631 non-null  float32
 14  annual_precip  481631 non-null  float32
dtypes: float32(13), float64(2)
memory usage: 31.2 MB

In [10]:
precip_df.describe()

,longitude,latitude,jan_precip,feb_precip,mar_precip,apr_precip,may_precip,jun_precip,jul_precip,aug_precip,sep_precip,oct_precip,nov_precip,dec_precip,annual_precip
count,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000
mean,-99.222637,39.394686,61.122406,55.047993,65.330551,69.843147,79.661163,80.372795,72.859894,68.370918,65.707687,65.012291,59.615902,65.764160,808.710510
std,13.678842,5.383087,60.988171,48.997040,50.324203,42.143887,39.755749,46.600842,45.214645,43.340912,39.550987,38.865005,55.202122,64.518089,463.698181
min,-124.791667,24.500000,4.108700,4.320000,4.880500,1.435600,0.380100,0.000000,0.000000,0.000000,0.543700,1.704300,1.388500,3.500500,46.257401
25%,-110.416667,35.208333,18.083200,18.536400,25.784599,34.354799,48.826248,36.641249,33.060450,31.162600,32.458050,32.621849,19.551049,20.637850,411.196991
50%,-99.333333,39.625000,41.351799,40.016899,50.854397,67.839096,83.038498,90.027802,75.322197,71.412201,66.224602,63.010098,47.169300,44.906898,755.414001
75%,-88.833333,43.791667,89.171448,77.508350,96.253048,98.050697,110.197445,115.113148,106.470200,96.954597,93.809601,89.893246,85.793446,95.244499,1172.529968
max,-66.958333,49.416667,863.510071,710.085205,707.518799,461.249695,286.316101,282.603394,244.163193,276.665405,306.139404,554.030701,1152.823975,941.520386,5611.161133

# Solar total

In [11]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"
working_dir = folder + "\\" + files[1]
print(working_dir)

os.chdir(working_dir)
bil_files = [os.path.join(working_dir, f) for f in os.listdir() if f.endswith('.bil')]

label_prefixs = ['jan_', 'feb_', 'mar_', 'apr_', 'may_', 'jun_', 'jul_', 'aug_', 'sep_', 'oct_', 'nov_', 'dec_', 'annual_']
labels = [i + 'solar' for i in label_prefixs]

solar_df = bil_to_df(bil_files[0], labels[0])

# Loop through the rest
for i, j in zip(bil_files[1:], labels[1:]): 
    temp_df = bil_to_df(i, j)
    solar_df = solar_df.merge(temp_df, on=['longitude', 'latitude'], how='inner')

C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files\PRISM_soltotal_30yr_normal_4kmM3_all_bil

In [12]:
solar_df.head()

,longitude,latitude,jan_solar,feb_solar,mar_solar,apr_solar,may_solar,jun_solar,jul_solar,aug_solar,sep_solar,oct_solar,nov_solar,dec_solar,annual_solar
0,-95.125000,49.416667,4.1630,7.7521,12.224800,17.154499,18.936399,20.132399,21.454699,17.672800,12.2616,7.1016,4.1895,3.1090,12.179299
1,-95.166667,49.375000,4.2034,7.7808,12.237800,17.135099,18.959600,20.141899,21.495300,17.682699,12.2856,7.1332,4.2125,3.1365,12.200299
2,-95.125000,49.375000,4.1730,7.7821,12.247399,17.209200,18.934900,20.121000,21.455599,17.670599,12.2525,7.0981,4.1850,3.1233,12.187699
3,-95.083333,49.375000,4.1495,7.7736,12.247700,17.252100,18.913500,20.104000,21.439899,17.660700,12.2185,7.0544,4.1484,3.1084,12.172500
4,-95.041667,49.375000,4.1370,7.7938,12.266100,17.320601,18.896000,20.086000,21.429499,17.658499,12.1896,7.0096,4.1237,3.1109,12.168400

In [13]:
solar_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481631 entries, 0 to 481630
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   longitude     481631 non-null  float64
 1   latitude      481631 non-null  float64
 2   jan_solar     481631 non-null  float32
 3   feb_solar     481631 non-null  float32
 4   mar_solar     481631 non-null  float32
 5   apr_solar     481631 non-null  float32
 6   may_solar     481631 non-null  float32
 7   jun_solar     481631 non-null  float32
 8   jul_solar     481631 non-null  float32
 9   aug_solar     481631 non-null  float32
 10  sep_solar     481631 non-null  float32
 11  oct_solar     481631 non-null  float32
 12  nov_solar     481631 non-null  float32
 13  dec_solar     481631 non-null  float32
 14  annual_solar  481631 non-null  float32
dtypes: float32(13), float64(2)
memory usage: 31.2 MB

In [14]:
solar_df.describe()

,longitude,latitude,jan_solar,feb_solar,mar_solar,apr_solar,may_solar,jun_solar,jul_solar,aug_solar,sep_solar,oct_solar,nov_solar,dec_solar,annual_solar
count,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000
mean,-99.222637,39.394686,7.549030,10.500313,14.727626,18.923887,21.580488,23.488953,23.168907,20.544647,16.742414,12.272196,8.529840,6.522726,15.379212
std,13.678842,5.383087,2.350804,2.301095,2.494786,2.559572,2.562268,2.575814,1.990998,1.876166,2.111038,2.658449,2.570420,2.318405,2.122556
min,-124.791667,24.500000,1.775700,4.208600,7.431200,12.014899,15.287600,15.214700,16.397699,14.323899,11.367300,5.901700,2.373800,1.220200,9.575500
25%,-110.416667,35.208333,5.618500,8.815200,12.789300,17.089699,19.698399,21.597700,21.538900,19.104200,15.117750,10.036200,6.349000,4.552600,13.712500
50%,-99.333333,39.625000,7.375400,10.178699,14.248699,18.418499,20.877300,22.615200,23.009699,20.101099,16.599699,12.310800,8.493100,6.390000,15.180300
75%,-88.833333,43.791667,9.304500,12.008599,16.296049,20.304600,23.007299,25.470798,24.539099,21.931900,18.200600,14.357100,10.581150,8.314400,16.777599
max,-66.958333,49.416667,14.085799,17.215900,21.979500,26.301199,29.410700,30.789598,29.104898,26.908899,22.623499,18.495199,14.713699,12.880000,20.643999

# Solar transmission

In [15]:
files

['PRISM_ppt_30yr_normal_4kmM4_all_bil',
 'PRISM_soltotal_30yr_normal_4kmM3_all_bil',
 'PRISM_soltrans_30yr_normal_4kmM3_all_bil',
 'PRISM_tdmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmax_30yr_normal_4kmM5_all_bil',
 'PRISM_tmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmin_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmax_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmin_30yr_normal_4kmM5_all_bil']

In [16]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"
working_dir = folder + "\\" + files[2]
print(working_dir)

os.chdir(working_dir)
bil_files = [os.path.join(working_dir, f) for f in os.listdir() if f.endswith('.bil')]

label_prefixs = ['jan_', 'feb_', 'mar_', 'apr_', 'may_', 'jun_', 'jul_', 'aug_', 'sep_', 'oct_', 'nov_', 'dec_', 'annual_']
labels = [i + 'solarTrans' for i in label_prefixs]

solarTransmission_df = bil_to_df(bil_files[0], labels[0])

# Loop through the rest
for i, j in zip(bil_files[1:], labels[1:]): 
    temp_df = bil_to_df(i, j)
    solarTransmission_df = solarTransmission_df.merge(temp_df, on=['longitude', 'latitude'], how='inner')

print(solarTransmission_df.head())
print(solarTransmission_df.info())
print(solarTransmission_df.describe())

C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files\PRISM_soltrans_30yr_normal_4kmM3_all_bil
   longitude   latitude  jan_solarTrans  feb_solarTrans  mar_solarTrans  \
0 -95.125000  49.416667          0.6210          0.6896          0.6970
1 -95.166667  49.375000          0.6253          0.6911          0.6974
2 -95.125000  49.375000          0.6208          0.6913          0.6978
3 -95.083333  49.375000          0.6172          0.6905          0.6977
4 -95.041667  49.375000          0.6152          0.6920          0.6985

   apr_solarTrans  may_solarTrans  jun_solarTrans  jul_solarTrans  \
0          0.7129          0.6565          0.6575          0.7384
1          0.7118          0.6572          0.6579          0.7396
2          0.7148          0.6563          0.6571          0.7383
3          0.7165          0.6555          0.6565          0.7377
4          0.7192          0.6547          0.6558          0.7371

   aug_solarTrans  sep_solarTrans  oct_solarTrans  nov_solarTrans  \
0          0.7167          0.6522          0.5711          0.5663
1          0.7169          0.6531          0.5729          0.5683
2          0.7163          0.6513          0.5701          0.5645
3          0.7159          0.6494          0.5665          0.5594
4          0.7156          0.6477          0.5628          0.5558

   dec_solarTrans  annual_solarTrans
0          0.5837             0.6552
1          0.5874             0.6565
2          0.5847             0.6552
3          0.5817             0.6537
4          0.5818             0.6530
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481631 entries, 0 to 481630
Data columns (total 15 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   longitude          481631 non-null  float64
 1   latitude           481631 non-null  float64
 2   jan_solarTrans     481631 non-null  float32
 3   feb_solarTrans     481631 non-null  float32
 4   mar_solarTrans     481631 non-null  float32
 5   apr_solarTrans     481631 non-null  float32
 6   may_solarTrans     481631 non-null  float32
 7   jun_solarTrans     481631 non-null  float32
 8   jul_solarTrans     481631 non-null  float32
 9   aug_solarTrans     481631 non-null  float32
 10  sep_solarTrans     481631 non-null  float32
 11  oct_solarTrans     481631 non-null  float32
 12  nov_solarTrans     481631 non-null  float32
 13  dec_solarTrans     481631 non-null  float32
 14  annual_solarTrans  481631 non-null  float32
dtypes: float32(13), float64(2)
memory usage: 31.2 MB
None
           longitude       latitude  jan_solarTrans  feb_solarTrans  \
count  481631.000000  481631.000000   481631.000000   481631.000000
mean      -99.222637      39.394686        0.655543        0.669492
std        13.678842       5.383087        0.096513        0.083513
min      -124.791667      24.500000        0.335300        0.392400
25%      -110.416667      35.208333        0.590300        0.600500
50%       -99.333333      39.625000        0.657600        0.668000
75%       -88.833333      43.791667        0.728500        0.740300
max       -66.958333      49.416667        0.855500        0.861800

       mar_solarTrans  apr_solarTrans  may_solarTrans  jun_solarTrans  \
count   481631.000000   481631.000000   481631.000000   481631.000000
mean         0.692281        0.712896        0.720027        0.751954
std          0.074114        0.067575        0.069147        0.065226
min          0.436300        0.494800        0.517100        0.483700
25%          0.635100        0.664700        0.670000        0.707600
50%          0.684700        0.705600        0.704700        0.739100
75%          0.745100        0.748600        0.760700        0.795700
max          0.892200        0.914200        0.940800        0.950700

       jul_solarTrans  aug_solarTrans  sep_solarTrans  oct_solarTrans  \
count   481631.000000   481631.000000   481631.000000   481631.000000
mean         0.770945        0.766777        0.752370        0.720022
std          0.050482        0.051564        0.056514        0.077713
min          0.543600        0.520100        0.602100        0.512200
25%          0.735300        0.728300        0.711500        0.670200
50%          0.767500        0.759900        0.740800        0.716300
75%          0.802100        0.798500        0.788300        0.770600
max          0.942600        0.958400        0.934800        0.929300

       nov_solarTrans  dec_solarTrans  annual_solarTrans
count   481631.000000   481631.000000      481631.000000
mean         0.689795        0.639773           0.711769
std          0.088980        0.101938           0.064927
min          0.375200        0.285400           0.524300
25%          0.639300        0.565900           0.665400
50%          0.687800        0.645200           0.707400
75%          0.747400        0.720400           0.755700
max          0.890800        0.851600           0.881500

# Temp dew point mean

In [17]:
files

['PRISM_ppt_30yr_normal_4kmM4_all_bil',
 'PRISM_soltotal_30yr_normal_4kmM3_all_bil',
 'PRISM_soltrans_30yr_normal_4kmM3_all_bil',
 'PRISM_tdmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmax_30yr_normal_4kmM5_all_bil',
 'PRISM_tmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmin_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmax_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmin_30yr_normal_4kmM5_all_bil']

In [18]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"
working_dir = folder + "\\" + files[3]
print(working_dir)

os.chdir(working_dir)
bil_files = [os.path.join(working_dir, f) for f in os.listdir() if f.endswith('.bil')]

label_prefixs = ['jan_', 'feb_', 'mar_', 'apr_', 'may_', 'jun_', 'jul_', 'aug_', 'sep_', 'oct_', 'nov_', 'dec_', 'annual_']
labels = [i + 'dptmean' for i in label_prefixs]

dptemp_df = bil_to_df(bil_files[0], labels[0])

# Loop through the rest
for i, j in zip(bil_files[1:], labels[1:]): 
    temp_df = bil_to_df(i, j)
    dptemp_df = dptemp_df.merge(temp_df, on=['longitude', 'latitude'], how='inner')

print(dptemp_df.head())
print(dptemp_df.info())
print(dptemp_df.describe())

C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files\PRISM_tdmean_30yr_normal_4kmM5_all_bil
   longitude   latitude  jan_dptmean  feb_dptmean  mar_dptmean  apr_dptmean  \
0 -95.125000  49.416667   -18.071100   -16.452999   -10.067300      -4.0575
1 -95.083333  49.416667   -18.043400   -16.477900   -10.096000      -4.0703
2 -95.041667  49.416667   -18.003700   -16.474699   -10.097600      -4.0699
3 -95.000000  49.416667   -17.925499   -16.366100   -10.044499      -4.0347
4 -94.958333  49.416667   -17.896400   -16.411699   -10.100200      -4.0858

   may_dptmean  jun_dptmean  jul_dptmean  aug_dptmean  sep_dptmean  \
0       3.8343    11.376699    14.682500    13.656799       8.9100
1       3.8254    11.345099    14.637099    13.646299       8.9439
2       3.8044    11.324900    14.609799    13.628600       9.0013
3       3.7653    11.292700    14.542200    13.594900       9.1046
4       3.7463    11.273700    14.529099    13.591700       9.1622

   oct_dptmean  nov_dptmean  dec_dptmean  annual_dptmean
0       1.1164      -6.1415   -13.990900           -1.27
1       1.1400      -6.0993   -13.958500           -1.27
2       1.2147      -6.0391   -13.908400           -1.25
3       1.3146      -5.9642   -13.789599           -1.21
4       1.3188      -5.9650   -13.744499           -1.22
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485367 entries, 0 to 485366
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   longitude       485367 non-null  float64
 1   latitude        485367 non-null  float64
 2   jan_dptmean     485367 non-null  float32
 3   feb_dptmean     485367 non-null  float32
 4   mar_dptmean     485367 non-null  float32
 5   apr_dptmean     485367 non-null  float32
 6   may_dptmean     485367 non-null  float32
 7   jun_dptmean     485367 non-null  float32
 8   jul_dptmean     485367 non-null  float32
 9   aug_dptmean     485367 non-null  float32
 10  sep_dptmean     485367 non-null  float32
 11  oct_dptmean     485367 non-null  float32
 12  nov_dptmean     485367 non-null  float32
 13  dec_dptmean     485367 non-null  float32
 14  annual_dptmean  485367 non-null  float32
dtypes: float32(13), float64(2)
memory usage: 31.5 MB
None
           longitude       latitude    jan_dptmean    feb_dptmean  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean      -99.188272      39.401555      -5.755897      -4.718736
std        13.712286       5.408321       5.976642       6.086814
min      -124.791667      24.500000     -19.589800     -19.773600
25%      -110.416667      35.166667     -10.163799      -9.347650
50%       -99.291667      39.625000      -6.587200      -5.758100
75%       -88.750000      43.833333      -2.177850      -1.102600
max       -66.916667      49.416667      16.581999      17.418800

         mar_dptmean    apr_dptmean    may_dptmean    jun_dptmean  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean       -1.747858       1.590277       6.587703      10.756957
std         5.808450       6.204839       6.705368       7.403816
min       -17.512699     -16.399399     -14.331599     -10.646800
25%        -6.222200      -2.977100       1.578150       4.706300
50%        -3.215600       0.254500       6.253800      11.887099
75%         1.895700       5.918450      12.070300      16.965000
max        17.693499      20.016699      22.466299      24.608599

         jul_dptmean    aug_dptmean    sep_dptmean    oct_dptmean  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean       13.498531      13.060148       9.649524       4.226710
std         6.582755       6.599492       6.648855       6.087372
min        -8.638300      -9.656799     -11.602099     -13.901799
25%         7.872150       7.619500       4.087400      -0.634400
50%        14.881000      14.401700      10.525000       3.915100
75%        18.962400      18.264400      14.634950       8.332200
max        25.445099      25.223000      24.570499      22.757799

         nov_dptmean    dec_dptmean  annual_dptmean
count  485367.000000  485367.000000   485367.000000
mean       -0.818907      -4.378742        3.495774
std         5.702928       5.887796        5.833250
min       -16.829800     -19.130199      -14.250000
25%        -5.444200      -9.056499       -1.060000
50%        -1.608700      -5.284200        2.790000
75%         2.766600      -0.823700        7.560000
max        19.616400      18.196699       20.739899

# Max temperature

In [19]:
files

['PRISM_ppt_30yr_normal_4kmM4_all_bil',
 'PRISM_soltotal_30yr_normal_4kmM3_all_bil',
 'PRISM_soltrans_30yr_normal_4kmM3_all_bil',
 'PRISM_tdmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmax_30yr_normal_4kmM5_all_bil',
 'PRISM_tmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmin_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmax_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmin_30yr_normal_4kmM5_all_bil']

In [20]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"
working_dir = folder + "\\" + files[4]
print(working_dir)

os.chdir(working_dir)
bil_files = [os.path.join(working_dir, f) for f in os.listdir() if f.endswith('.bil')]

label_prefixs = ['jan_', 'feb_', 'mar_', 'apr_', 'may_', 'jun_', 'jul_', 'aug_', 'sep_', 'oct_', 'nov_', 'dec_', 'annual_']
labels = [i + 'maxt' for i in label_prefixs]

maxt_df = bil_to_df(bil_files[0], labels[0])

# Loop through the rest
for i, j in zip(bil_files[1:], labels[1:]): 
    temp_df = bil_to_df(i, j)
    maxt_df = maxt_df.merge(temp_df, on=['longitude', 'latitude'], how='inner')

print(maxt_df.head())
print(maxt_df.info())
print(maxt_df.describe())

C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files\PRISM_tmax_30yr_normal_4kmM5_all_bil
   longitude   latitude   jan_maxt  feb_maxt  mar_maxt  apr_maxt   may_maxt  \
0 -95.125000  49.416667 -10.470099   -7.2620    0.2340    8.2640  16.135300
1 -95.083333  49.416667 -10.485100   -7.3082    0.1911    8.1180  16.006300
2 -95.041667  49.416667 -10.531500   -7.3599    0.1448    7.9604  15.890699
3 -95.000000  49.416667 -10.636800   -7.4696    0.0557    7.7942  15.778299
4 -94.958333  49.416667 -10.624599   -7.4935    0.0178    7.6593  15.678499

    jun_maxt   jul_maxt   aug_maxt   sep_maxt  oct_maxt  nov_maxt  dec_maxt  \
0  21.900499  24.420500  23.888899  18.666399  9.727300    0.5070   -7.1084
1  21.781099  24.318300  23.829100  18.566799  9.632400    0.4985   -7.1318
2  21.652599  24.214399  23.753599  18.432600  9.526999    0.4672   -7.1865
3  21.527399  24.108599  23.666599  18.264599  9.397200    0.3757   -7.3022
4  21.421600  24.003500  23.619099  18.199999  9.323999    0.3914   -7.2964

   annual_maxt
0         8.24
1         8.17
2         8.08
3         7.96
4         7.91
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485367 entries, 0 to 485366
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   longitude    485367 non-null  float64
 1   latitude     485367 non-null  float64
 2   jan_maxt     485367 non-null  float32
 3   feb_maxt     485367 non-null  float32
 4   mar_maxt     485367 non-null  float32
 5   apr_maxt     485367 non-null  float32
 6   may_maxt     485367 non-null  float32
 7   jun_maxt     485367 non-null  float32
 8   jul_maxt     485367 non-null  float32
 9   aug_maxt     485367 non-null  float32
 10  sep_maxt     485367 non-null  float32
 11  oct_maxt     485367 non-null  float32
 12  nov_maxt     485367 non-null  float32
 13  dec_maxt     485367 non-null  float32
 14  annual_maxt  485367 non-null  float32
dtypes: float32(13), float64(2)
memory usage: 31.5 MB
None
           longitude       latitude       jan_maxt       feb_maxt  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean      -99.188272      39.401555       5.257826       7.317001
std        13.712286       5.408321       7.323716       7.326888
min      -124.791667      24.500000     -10.989900      -8.642099
25%      -110.416667      35.166667      -0.148100       1.613350
50%       -99.291667      39.625000       4.614500       6.700100
75%       -88.750000      43.833333      10.906550      13.030100
max       -66.916667      49.416667      25.206400      26.526699

            mar_maxt       apr_maxt       may_maxt       jun_maxt  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean       12.110079      17.292921      22.455544      27.248058
std         6.596330       5.806258       5.081797       4.757538
min        -6.132200      -3.868100       0.933900       4.425100
25%         6.812450      12.800900      18.833700      23.975599
50%        11.530499      16.620300      22.008600      27.287498
75%        17.333050      21.960699      26.349199      30.964600
max        28.642399      33.521400      38.302700      44.161098

            jul_maxt       aug_maxt       sep_maxt       oct_maxt  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean       30.184351      29.603670      25.727709      19.060003
std         3.885952       3.919735       4.384451       5.408987
min        10.106999      10.391800       7.624900       1.879700
25%        27.620699      26.858099      22.567200      14.852049
50%        30.418999      29.697899      25.572899      18.515299
75%        32.962498      32.386101      28.998749      23.251600
max        47.619297      46.813000      42.199799      34.323700

            nov_maxt       dec_maxt    annual_maxt
count  485367.000000  485367.000000  485367.000000
mean       11.808926       6.342408      17.867285
std         6.222356       6.843462       5.395400
min        -4.577900      -7.869900       0.060000
25%         6.980700       1.166750      13.650000
50%        11.068200       5.319500      17.230000
75%        16.750900      11.691999      22.129999
max        28.098299      26.179998      33.369999

# Mean temperature

In [21]:
files

['PRISM_ppt_30yr_normal_4kmM4_all_bil',
 'PRISM_soltotal_30yr_normal_4kmM3_all_bil',
 'PRISM_soltrans_30yr_normal_4kmM3_all_bil',
 'PRISM_tdmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmax_30yr_normal_4kmM5_all_bil',
 'PRISM_tmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmin_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmax_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmin_30yr_normal_4kmM5_all_bil']

In [22]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"
working_dir = folder + "\\" + files[5]
print(working_dir)

os.chdir(working_dir)
bil_files = [os.path.join(working_dir, f) for f in os.listdir() if f.endswith('.bil')]

label_prefixs = ['jan_', 'feb_', 'mar_', 'apr_', 'may_', 'jun_', 'jul_', 'aug_', 'sep_', 'oct_', 'nov_', 'dec_', 'annual_']
labels = [i + 'meant' for i in label_prefixs]

meant_df = bil_to_df(bil_files[0], labels[0])

# Loop through the rest
for i, j in zip(bil_files[1:], labels[1:]): 
    temp_df = bil_to_df(i, j)
    meant_df = meant_df.merge(temp_df, on=['longitude', 'latitude'], how='inner')

print(meant_df.head())
print(meant_df.info())
print(meant_df.describe())

C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files\PRISM_tmean_30yr_normal_4kmM5_all_bil
   longitude   latitude  jan_meant  feb_meant  mar_meant  apr_meant  \
0 -95.125000  49.416667 -16.006199   -13.6732    -5.9882     2.4166
1 -95.083333  49.416667 -15.998600   -13.7078    -6.0155     2.3461
2 -95.041667  49.416667 -15.983100   -13.7245    -6.0243     2.2886
3 -95.000000  49.416667 -15.934099   -13.6977    -6.0012     2.2672
4 -94.958333  49.416667 -15.907499   -13.7485    -6.0480     2.1781

   may_meant  jun_meant  jul_meant  aug_meant  sep_meant  oct_meant  \
0  10.306399  16.400700  18.667000  17.867300  12.898299     5.0186
1  10.270400  16.388199  18.639500  17.904200  12.902400     5.0013
2  10.254000  16.383600  18.637199  17.962999  12.925400     5.0007
3  10.268200  16.390100  18.686499  18.070599  12.983700     5.0366
4  10.241300  16.385099  18.615499  18.084200  13.021199     5.0160

   nov_meant  dec_meant  annual_meant
0    -3.5682 -11.862200          2.71
1    -3.5366 -11.851100          2.70
2    -3.5031 -11.841000          2.70
3    -3.4862 -11.820300          2.73
4    -3.4603 -11.786699          2.72
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485367 entries, 0 to 485366
Data columns (total 15 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   longitude     485367 non-null  float64
 1   latitude      485367 non-null  float64
 2   jan_meant     485367 non-null  float32
 3   feb_meant     485367 non-null  float32
 4   mar_meant     485367 non-null  float32
 5   apr_meant     485367 non-null  float32
 6   may_meant     485367 non-null  float32
 7   jun_meant     485367 non-null  float32
 8   jul_meant     485367 non-null  float32
 9   aug_meant     485367 non-null  float32
 10  sep_meant     485367 non-null  float32
 11  oct_meant     485367 non-null  float32
 12  nov_meant     485367 non-null  float32
 13  dec_meant     485367 non-null  float32
 14  annual_meant  485367 non-null  float32
dtypes: float32(13), float64(2)
memory usage: 31.5 MB
None
           longitude       latitude      jan_meant      feb_meant  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean      -99.188272      39.401555      -0.395824       1.290255
std        13.712286       5.408321       6.869606       6.922846
min      -124.791667      24.500000     -16.481400     -13.909800
25%      -110.416667      35.166667      -5.220550      -3.900100
50%       -99.291667      39.625000      -1.013400       0.772400
75%       -88.750000      43.833333       4.835000       6.524100
max       -66.916667      49.416667      21.021000      21.888100

           mar_meant      apr_meant      may_meant      jun_meant  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean        5.666995      10.468186      15.671094      20.409163
std         6.160505       5.520190       5.087451       4.843937
min       -10.467600      -8.852799      -4.629500      -1.472100
25%         0.916150       6.168500      11.901450      17.007350
50%         4.969500       9.634700      15.059500      20.359600
75%        10.423250      14.823800      19.561950      24.272499
max        23.112499      25.272099      29.714699      35.234501

           jul_meant      aug_meant      sep_meant      oct_meant  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean       23.226442      22.553917      18.623177      12.254951
std         4.024047       4.088158       4.583713       5.151093
min         3.426700       3.747900       1.408800      -3.499800
25%        20.449999      19.714950      15.138700       8.152400
50%        23.157499      22.188999      18.033199      11.453500
75%        26.456849      25.670949      22.164849      16.239000
max        38.839500      37.907799      33.328701      27.142500

           nov_meant      dec_meant   annual_meant
count  485367.000000  485367.000000  485367.000000
mean        5.760499       0.874932      11.366904
std         5.636822       6.332128       5.207309
min        -8.975500     -12.401899      -4.790000
25%         1.370500      -3.862000       7.310000
50%         4.925600      -0.184100      10.590000
75%        10.075650       5.654450      15.469999
max        24.400499      22.392899      25.670000

# Minimum temperature

In [23]:
files

['PRISM_ppt_30yr_normal_4kmM4_all_bil',
 'PRISM_soltotal_30yr_normal_4kmM3_all_bil',
 'PRISM_soltrans_30yr_normal_4kmM3_all_bil',
 'PRISM_tdmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmax_30yr_normal_4kmM5_all_bil',
 'PRISM_tmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmin_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmax_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmin_30yr_normal_4kmM5_all_bil']

In [24]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"
working_dir = folder + "\\" + files[6]
print(working_dir)

os.chdir(working_dir)
bil_files = [os.path.join(working_dir, f) for f in os.listdir() if f.endswith('.bil')]

label_prefixs = ['jan_', 'feb_', 'mar_', 'apr_', 'may_', 'jun_', 'jul_', 'aug_', 'sep_', 'oct_', 'nov_', 'dec_', 'annual_']
labels = [i + 'tmin' for i in label_prefixs]

tmin_df = bil_to_df(bil_files[0], labels[0])

# Loop through the rest
for i, j in zip(bil_files[1:], labels[1:]): 
    temp_df = bil_to_df(i, j)
    tmin_df = tmin_df.merge(temp_df, on=['longitude', 'latitude'], how='inner')

print(tmin_df.head())
print(tmin_df.info())
print(tmin_df.describe())

C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files\PRISM_tmin_30yr_normal_4kmM5_all_bil
   longitude   latitude   jan_tmin   feb_tmin   mar_tmin  apr_tmin  may_tmin  \
0 -95.125000  49.416667 -21.542400 -20.084499 -12.210700   -3.4306    4.4777
1 -95.083333  49.416667 -21.512299 -20.107500 -12.222300   -3.4257    4.5347
2 -95.041667  49.416667 -21.434799 -20.089199 -12.193600   -3.3831    4.6174
3 -95.000000  49.416667 -21.231600 -19.925999 -12.058300   -3.2595    4.7582
4 -94.958333  49.416667 -21.190399 -20.003599 -12.113999   -3.3029    4.8042

    jun_tmin   jul_tmin   aug_tmin  sep_tmin  oct_tmin  nov_tmin   dec_tmin  \
0  10.901000  12.913700  11.845799    7.1305    0.3099   -7.6436 -16.616100
1  10.995399  12.960899  11.979400    7.2380    0.3702   -7.5720 -16.570499
2  11.114600  13.060100  12.172500    7.4183    0.4745   -7.4736 -16.495600
3  11.252999  13.264500  12.474800    7.7030    0.6760   -7.3482 -16.338499
4  11.348599  13.227699  12.549399    7.8426    0.7081   -7.3122 -16.277000

   annual_tmin
0      -2.8300
1      -2.7799
2      -2.6800
3      -2.5000
4      -2.4800
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485367 entries, 0 to 485366
Data columns (total 15 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   longitude    485367 non-null  float64
 1   latitude     485367 non-null  float64
 2   jan_tmin     485367 non-null  float32
 3   feb_tmin     485367 non-null  float32
 4   mar_tmin     485367 non-null  float32
 5   apr_tmin     485367 non-null  float32
 6   may_tmin     485367 non-null  float32
 7   jun_tmin     485367 non-null  float32
 8   jul_tmin     485367 non-null  float32
 9   aug_tmin     485367 non-null  float32
 10  sep_tmin     485367 non-null  float32
 11  oct_tmin     485367 non-null  float32
 12  nov_tmin     485367 non-null  float32
 13  dec_tmin     485367 non-null  float32
 14  annual_tmin  485367 non-null  float32
dtypes: float32(13), float64(2)
memory usage: 31.5 MB
None
           longitude       latitude       jan_tmin       feb_tmin  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean      -99.188272      39.401555      -6.049484      -4.736472
std        13.712286       5.408321       6.624278       6.694624
min      -124.791667      24.500000     -22.501900     -20.895500
25%      -110.416667      35.166667     -10.631900      -9.616799
50%       -99.291667      39.625000      -6.529200      -5.198700
75%       -88.750000      43.833333      -1.169200       0.268200
max       -66.916667      49.416667      19.006699      19.449200

            mar_tmin       apr_tmin       may_tmin       jun_tmin  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean       -0.775986       3.643609       8.886778      13.570408
std         5.927542       5.460028       5.364599       5.352769
min       -16.447701     -14.081599     -10.193000      -7.369400
25%        -5.214800      -0.688950       4.812800       9.698000
50%        -1.657800       2.744100       8.323299      13.658999
75%         3.549700       7.723600      12.973599      17.922899
max        20.703199      22.839600      24.771200      26.401800

            jul_tmin       aug_tmin       sep_tmin       oct_tmin  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean       16.268667      15.504296      11.518770       5.450041
std         4.703546       4.771431       5.163246       5.200034
min        -3.253400      -2.895800      -4.807300      -9.777200
25%        12.964900      12.049000       7.563750       1.247300
50%        16.298399      15.275000      10.899500       4.817700
75%        20.198399      19.273350      15.342249       9.175700
max        30.196299      29.618000      26.550200      25.311499

            nov_tmin       dec_tmin    annual_tmin
count  485367.000000  485367.000000  485367.000000
mean       -0.287810      -4.592542       4.866634
std         5.342932       6.064508       5.263967
min       -14.283199     -18.510500     -10.590000
25%        -4.577050      -9.353650       0.600000
50%        -0.828600      -5.187300       4.210000
75%         3.503200      -0.132300       8.840000
max        22.619400      20.671900      23.519999

# vpdmax

In [25]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"
working_dir = folder + "\\" + files[7]
print(working_dir)

os.chdir(working_dir)
bil_files = [os.path.join(working_dir, f) for f in os.listdir() if f.endswith('.bil')]

label_prefixs = ['jan_', 'feb_', 'mar_', 'apr_', 'may_', 'jun_', 'jul_', 'aug_', 'sep_', 'oct_', 'nov_', 'dec_', 'annual_']
labels = [i + 'vpdmax' for i in label_prefixs]

vpdmax_df = bil_to_df(bil_files[0], labels[0])

# Loop through the rest
for i, j in zip(bil_files[1:], labels[1:]): 
    temp_df = bil_to_df(i, j)
    vpdmax_df = vpdmax_df.merge(temp_df, on=['longitude', 'latitude'], how='inner')

print(vpdmax_df.head())
print(vpdmax_df.info())
print(vpdmax_df.describe())

C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files\PRISM_vpdmax_30yr_normal_4kmM5_all_bil
   longitude   latitude  jan_vpdmax  feb_vpdmax  mar_vpdmax  apr_vpdmax  \
0 -95.125000  49.416667      0.8649      1.5272      3.2420      6.7880
1 -95.083333  49.416667      0.8625      1.5243      3.2226      6.6504
2 -95.041667  49.416667      0.8566      1.5174      3.1900      6.4959
3 -95.000000  49.416667      0.8447      1.4926      3.1230      6.3244
4 -94.958333  49.416667      0.8443      1.4983      3.1159      6.2153

   may_vpdmax  jun_vpdmax  jul_vpdmax  aug_vpdmax  sep_vpdmax  oct_vpdmax  \
0   10.382199   12.898299   14.316799   13.940499   10.122900      5.5701
1   10.216599   12.730700   14.247299   13.883699    9.966700      5.4826
2   10.081500   12.543600   14.165100   13.811000    9.747000      5.3524
3    9.964399   12.372300   14.109099   13.733200    9.441400      5.1795
4    9.850200   12.223300   14.008500   13.686000    9.315499      5.1143

   nov_vpdmax  dec_vpdmax  annual_vpdmax
0      2.4194      1.1191           6.93
1      2.4040      1.1159           6.86
2      2.3731      1.1079           6.77
3      2.3118      1.0987           6.67
4      2.3181      1.0976           6.61
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485367 entries, 0 to 485366
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   longitude      485367 non-null  float64
 1   latitude       485367 non-null  float64
 2   jan_vpdmax     485367 non-null  float32
 3   feb_vpdmax     485367 non-null  float32
 4   mar_vpdmax     485367 non-null  float32
 5   apr_vpdmax     485367 non-null  float32
 6   may_vpdmax     485367 non-null  float32
 7   jun_vpdmax     485367 non-null  float32
 8   jul_vpdmax     485367 non-null  float32
 9   aug_vpdmax     485367 non-null  float32
 10  sep_vpdmax     485367 non-null  float32
 11  oct_vpdmax     485367 non-null  float32
 12  nov_vpdmax     485367 non-null  float32
 13  dec_vpdmax     485367 non-null  float32
 14  annual_vpdmax  485367 non-null  float32
dtypes: float32(13), float64(2)
memory usage: 31.5 MB
None
           longitude       latitude     jan_vpdmax     feb_vpdmax  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean      -99.188272      39.401555       5.519623       6.872229
std        13.712286       5.408321       3.676651       4.259023
min      -124.791667      24.500000       0.534000       0.758100
25%      -110.416667      35.166667       2.586800       3.469500
50%       -99.291667      39.625000       4.566500       5.737900
75%       -88.750000      43.833333       7.697350       9.427750
max       -66.916667      49.416667      19.874699      25.794600

          mar_vpdmax     apr_vpdmax     may_vpdmax     jun_vpdmax  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean       10.011958      14.202909      18.485132      24.039680
std         5.184883       6.033283       7.292836       9.933542
min         1.231600       2.289400       0.385200       0.009900
25%         5.913000       9.927199      14.145100      17.725500
50%         8.960000      12.861000      16.306099      21.400599
75%        13.081400      17.009600      20.959450      27.432300
max        34.577400      47.517899      63.945599      87.234901

          jul_vpdmax     aug_vpdmax     sep_vpdmax     oct_vpdmax  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean       28.041143      27.089151      21.924509      14.845336
std        10.399049       9.868986       7.830756       6.135542
min         0.424000       0.009900       0.712600       2.192400
25%        19.906349      19.121050      16.527849      10.442100
50%        25.557499      25.297499      20.962299      13.975599
75%        34.794399      33.487698      26.059449      18.024000
max       103.013100      98.572800      77.923698      50.763000

          nov_vpdmax    dec_vpdmax  annual_vpdmax
count  485367.000000  485367.00000  485367.000000
mean        8.959340       5.66596      15.471318
std         4.543836       3.52235       6.095077
min         1.399100       0.77350       2.210000
25%         5.403900       2.83120      10.969999
50%         8.170000       4.80440      14.500000
75%        11.679650       7.84090      18.279999
max        28.813398      19.48630      54.230000

# vpdmin

In [26]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"
working_dir = folder + "\\" + files[8]
print(working_dir)

os.chdir(working_dir)
bil_files = [os.path.join(working_dir, f) for f in os.listdir() if f.endswith('.bil')]

label_prefixs = ['jan_', 'feb_', 'mar_', 'apr_', 'may_', 'jun_', 'jul_', 'aug_', 'sep_', 'oct_', 'nov_', 'dec_', 'annual_']
labels = [i + 'vpdmin' for i in label_prefixs]

vpdmin_df = bil_to_df(bil_files[0], labels[0])

# Loop through the rest
for i, j in zip(bil_files[1:], labels[1:]): 
    temp_df = bil_to_df(i, j)
    vpdmin_df = vpdmin_df.merge(temp_df, on=['longitude', 'latitude'], how='inner')

print(vpdmin_df.head())
print(vpdmin_df.info())
print(vpdmin_df.describe())

C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files\PRISM_vpdmin_30yr_normal_4kmM5_all_bil
   longitude   latitude  jan_vpdmin  feb_vpdmin  mar_vpdmin  apr_vpdmin  \
0 -95.125000  49.416667      0.1542      0.1737      0.2861      0.6837
1 -95.083333  49.416667      0.1526      0.1731      0.2850      0.6849
2 -95.041667  49.416667      0.1510      0.1718      0.2840      0.6868
3 -95.000000  49.416667      0.1497      0.1701      0.2836      0.6922
4 -94.958333  49.416667      0.1481      0.1694      0.2830      0.6907

   may_vpdmin  jun_vpdmin  jul_vpdmin  aug_vpdmin  sep_vpdmin  oct_vpdmin  \
0      1.0216      1.1085      0.8892      0.8468      0.7396      0.5602
1      1.0500      1.1567      0.9392      0.9178      0.7602      0.5666
2      1.0923      1.2118      1.0033      1.0203      0.7882      0.5530
3      1.1601      1.2775      1.1256      1.1805      0.8237      0.5158
4      1.1878      1.3234      1.1339      1.2333      0.8459      0.5212

   nov_vpdmin  dec_vpdmin  annual_vpdmin
0      0.2946      0.1995           0.58
1      0.3006      0.1982           0.60
2      0.3093      0.1967           0.62
3      0.3195      0.1937           0.66
4      0.3287      0.1929           0.67
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485367 entries, 0 to 485366
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   longitude      485367 non-null  float64
 1   latitude       485367 non-null  float64
 2   jan_vpdmin     485367 non-null  float32
 3   feb_vpdmin     485367 non-null  float32
 4   mar_vpdmin     485367 non-null  float32
 5   apr_vpdmin     485367 non-null  float32
 6   may_vpdmin     485367 non-null  float32
 7   jun_vpdmin     485367 non-null  float32
 8   jul_vpdmin     485367 non-null  float32
 9   aug_vpdmin     485367 non-null  float32
 10  sep_vpdmin     485367 non-null  float32
 11  oct_vpdmin     485367 non-null  float32
 12  nov_vpdmin     485367 non-null  float32
 13  dec_vpdmin     485367 non-null  float32
 14  annual_vpdmin  485367 non-null  float32
dtypes: float32(13), float64(2)
memory usage: 31.5 MB
None
           longitude       latitude     jan_vpdmin     feb_vpdmin  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean      -99.188272      39.401555       0.628639       0.706443
std        13.712286       5.408321       0.535072       0.593678
min      -124.791667      24.500000       0.000000       0.000000
25%      -110.416667      35.166667       0.340900       0.388800
50%       -99.291667      39.625000       0.484100       0.549100
75%       -88.750000      43.833333       0.690500       0.766200
max       -66.916667      49.416667       4.944900       5.566500

          mar_vpdmin     apr_vpdmin     may_vpdmin     jun_vpdmin  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean        0.997903       1.442414       1.938570       2.760365
std         0.844296       1.307557       2.011016       3.167243
min         0.000000       0.000700       0.000000       0.000000
25%         0.546200       0.785500       0.964200       1.057900
50%         0.772400       1.063000       1.288400       1.634600
75%         1.075900       1.437800       1.891650       2.943800
max         8.928699      13.939300      21.265200      30.752100

          jul_vpdmin     aug_vpdmin     sep_vpdmin     oct_vpdmin  \
count  485367.000000  485367.000000  485367.000000  485367.000000
mean        3.204746       2.886775       2.207833       1.472616
std         3.361108       3.058632       2.321928       1.492764
min         0.000000       0.000000       0.000000       0.001300
25%         1.059100       0.861600       0.775200       0.633500
50%         1.957900       1.735500       1.417200       0.997100
75%         4.118500       3.841500       2.708400       1.662750
max        37.161301      34.488197      25.555899      14.605599

          nov_vpdmin     dec_vpdmin  annual_vpdmin
count  485367.000000  485367.000000  485367.000000
mean        0.951292       0.633518       1.652505
std         0.861644       0.525381       1.596310
min         0.000200       0.000200       0.090000
25%         0.495000       0.350600       0.730000
50%         0.698800       0.482000       1.090000
75%         1.035500       0.704400       1.930000
max         8.073700       5.008200      17.109999

# Merging dataframes

In [27]:
%who DataFrame

dptemp_df	 maxt_df	 meant_df	 precip_df	 solarTransmission_df	 solar_df	 temp_df	 tmin_df	 vpdmax_df
vpdmin_df

In [28]:
maxt_df.columns

Index(['longitude', 'latitude', 'jan_maxt', 'feb_maxt', 'mar_maxt', 'apr_maxt',
       'may_maxt', 'jun_maxt', 'jul_maxt', 'aug_maxt', 'sep_maxt', 'oct_maxt',
       'nov_maxt', 'dec_maxt', 'annual_maxt'],
      dtype='object')

In [32]:
for i in [dptemp_df, maxt_df, meant_df, precip_df, solarTransmission_df, solar_df, temp_df, tmin_df, vpdmax_df]:
    print(i.shape)

(485367, 15)
(485367, 15)
(485367, 15)
(481631, 15)
(481631, 15)
(481631, 15)
(485367, 3)
(485367, 15)
(485367, 15)

In [33]:
maxt_df.merge(meant_df, left_on = ['longitude', 'latitude'], right_on = ['longitude', 'latitude']).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 485367 entries, 0 to 485366
Data columns (total 28 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   longitude     485367 non-null  float64
 1   latitude      485367 non-null  float64
 2   jan_maxt      485367 non-null  float32
 3   feb_maxt      485367 non-null  float32
 4   mar_maxt      485367 non-null  float32
 5   apr_maxt      485367 non-null  float32
 6   may_maxt      485367 non-null  float32
 7   jun_maxt      485367 non-null  float32
 8   jul_maxt      485367 non-null  float32
 9   aug_maxt      485367 non-null  float32
 10  sep_maxt      485367 non-null  float32
 11  oct_maxt      485367 non-null  float32
 12  nov_maxt      485367 non-null  float32
 13  dec_maxt      485367 non-null  float32
 14  annual_maxt   485367 non-null  float32
 15  jan_meant     485367 non-null  float32
 16  feb_meant     485367 non-null  float32
 17  mar_meant     485367 non-null  float32
 18  apr_meant     485367 non-null  float32
 19  may_meant     485367 non-null  float32
 20  jun_meant     485367 non-null  float32
 21  jul_meant     485367 non-null  float32
 22  aug_meant     485367 non-null  float32
 23  sep_meant     485367 non-null  float32
 24  oct_meant     485367 non-null  float32
 25  nov_meant     485367 non-null  float32
 26  dec_meant     485367 non-null  float32
 27  annual_meant  485367 non-null  float32
dtypes: float32(26), float64(2)
memory usage: 55.5 MB