In [3]:
import rasterio
import pandas as pd
import numpy as np
import zipfile
import os

# Extracting zip files

In [6]:
# Creating list of zip files to loop through
working_dir = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"  
os.chdir(working_dir)
zip_files = [f for f in os.listdir() if f.endswith('.zip')]

In [7]:
# Extracting zip files by looping through them 
for zip_file in zip_files:
    extract_folder = zip_file.replace('.zip', '') 
    with zipfile.ZipFile(zip_file, 'r') as zip_ref:
        zip_ref.extractall(extract_folder)
        print(f"Extracted: {zip_file} â†’ {extract_folder}")

In [4]:
# Delete each zip file after extraction
for zip_file in zip_files:
    os.remove(zip_file)
    print(f"Deleted: {zip_file}")

# .bil file extraction to pandas

In [8]:
# Function for converting .bil file to a pandas dataframe
def bil_to_df(location, column_name):
    # Open the .bil file
    with rasterio.open(location) as src:
        data = src.read(1)  # Read the first band
        transform = src.transform  # Affine transform

    # Get row/col indices
    rows, cols = np.indices(data.shape)

    # Convert indices to coordinates (lon, lat)
    xs, ys = rasterio.transform.xy(transform, rows, cols, offset='center')

    # Flatten all arrays
    flat_data = data.ravel()
    flat_xs = np.array(xs).ravel()
    flat_ys = np.array(ys).ravel()

    # Create DataFrame
    df = pd.DataFrame({
        'longitude': flat_xs,
        'latitude': flat_ys,
        column_name: flat_data
    })

    # Filter out missing data (-9999 or nodata value)
    df = df[df[column_name] != -9999]

    return df

All .bil files from https://prism.oregonstate.edu/normals/

In [11]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"

files = os.listdir(folder) 
files

['PRISM_ppt_30yr_normal_4kmM4_all_bil',
 'PRISM_soltotal_30yr_normal_4kmM3_all_bil',
 'PRISM_soltrans_30yr_normal_4kmM3_all_bil',
 'PRISM_tdmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmax_30yr_normal_4kmM5_all_bil',
 'PRISM_tmean_30yr_normal_4kmM5_all_bil',
 'PRISM_tmin_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmax_30yr_normal_4kmM5_all_bil',
 'PRISM_vpdmin_30yr_normal_4kmM5_all_bil']

# Precipitation data

In [39]:
folder = r"C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files"
working_dir = folder + "\\" + files[0]
print(working_dir)

os.chdir(working_dir)
bil_files = [os.path.join(working_dir, f) for f in os.listdir() if f.endswith('.bil')]

label_prefixs = ['jan_', 'feb_', 'mar_', 'apr_', 'may_', 'jun_', 'jul_', 'aug_', 'sep_', 'oct_', 'nov_', 'dec_', 'annual_']
labels = [i + 'precip' for i in label_prefixs]

df = bil_to_df(bil_files[0], labels[0])

# Loop through the rest
for i, j in zip(bil_files[1:], labels[1:]): 
    temp_df = bil_to_df(i, j)
    df = df.merge(temp_df, on=['longitude', 'latitude'], how='inner')

C:\Users\matta\Desktop\Documents\Python\Geolocation\climate_data\climate_files\PRISM_ppt_30yr_normal_4kmM4_all_bil

In [40]:
df.head(5)

,longitude,latitude,jan_precip,feb_precip,mar_precip,apr_precip,may_precip,jun_precip,jul_precip,aug_precip,sep_precip,oct_precip,nov_precip,dec_precip,annual_precip
0,-95.125000,49.416667,23.644299,17.864500,23.238800,33.131901,80.193497,108.216400,93.256996,78.835396,78.800697,57.489098,32.655701,28.477699,655.806702
1,-95.166667,49.375000,23.340399,17.845299,23.276800,33.335999,80.111397,108.382996,93.154297,78.872101,78.739998,57.233898,32.302399,28.246599,654.843872
2,-95.125000,49.375000,23.328400,17.859999,23.209400,33.333099,80.141296,108.263199,93.254898,79.079102,78.951897,57.322598,32.318699,28.115599,655.179871
3,-95.083333,49.375000,23.307600,17.879900,23.156898,33.369598,80.173401,108.180000,93.333496,79.300697,79.153198,57.379898,32.320301,27.922499,655.478760
4,-95.041667,49.375000,23.282400,17.856100,23.171600,33.519501,80.228500,108.062798,93.358597,79.424301,79.313301,57.410400,32.352100,27.775900,655.756287

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 481631 entries, 0 to 481630
Data columns (total 15 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   longitude      481631 non-null  float64
 1   latitude       481631 non-null  float64
 2   jan_precip     481631 non-null  float32
 3   feb_precip     481631 non-null  float32
 4   mar_precip     481631 non-null  float32
 5   apr_precip     481631 non-null  float32
 6   may_precip     481631 non-null  float32
 7   jun_precip     481631 non-null  float32
 8   jul_precip     481631 non-null  float32
 9   aug_precip     481631 non-null  float32
 10  sep_precip     481631 non-null  float32
 11  oct_precip     481631 non-null  float32
 12  nov_precip     481631 non-null  float32
 13  dec_precip     481631 non-null  float32
 14  annual_precip  481631 non-null  float32
dtypes: float32(13), float64(2)
memory usage: 31.2 MB

In [31]:
df.describe()

,longitude,latitude,jan_precip,feb_precip,mar_precip,apr_precip,may_precip,jun_precip,jul_precip,aug_precip,sep_precip,oct_precip,nov_precip,dec_precip,annual_precip
count,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000,481631.000000
mean,-99.222637,39.394686,61.122406,55.047993,65.330551,69.843147,79.661163,80.372795,72.859894,68.370918,65.707687,65.012291,59.615902,65.764160,808.710510
std,13.678842,5.383087,60.988171,48.997040,50.324203,42.143887,39.755749,46.600842,45.214645,43.340912,39.550987,38.865005,55.202122,64.518089,463.698181
min,-124.791667,24.500000,4.108700,4.320000,4.880500,1.435600,0.380100,0.000000,0.000000,0.000000,0.543700,1.704300,1.388500,3.500500,46.257401
25%,-110.416667,35.208333,18.083200,18.536400,25.784599,34.354799,48.826248,36.641249,33.060450,31.162600,32.458050,32.621849,19.551049,20.637850,411.196991
50%,-99.333333,39.625000,41.351799,40.016899,50.854397,67.839096,83.038498,90.027802,75.322197,71.412201,66.224602,63.010098,47.169300,44.906898,755.414001
75%,-88.833333,43.791667,89.171448,77.508350,96.253048,98.050697,110.197445,115.113148,106.470200,96.954597,93.809601,89.893246,85.793446,95.244499,1172.529968
max,-66.958333,49.416667,863.510071,710.085205,707.518799,461.249695,286.316101,282.603394,244.163193,276.665405,306.139404,554.030701,1152.823975,941.520386,5611.161133

# Evaporation

# Annual snow fall